.octopus3,
.octopus1 {
  z-index: -1;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100px;
  height: 100px;
}

/*
 * Debug purposes 
 */
/* .octopus3 {
  background-color: gray;
  z-index: 1;
} */
/* .octopus1 {
  background-color: gray;
  z-index: 1;
} */

@media (min-width: 960px) {
  .octopus3,
  .octopus1 {
    display: block;
  }

  .octopus3 {
    width: 850px;
    height: 500px;
    background-size: 800px;
    top: 5vh;
    left: -15vw;
  }

  .octopus1 {
    width: 410px;
    height: 430px;
    background-size: 400px;
    top: 20vh;
    right: 1vw;
  }
}

@media (min-width: 1280px) {
  .octopus3 {
    width: 900px;
    background-size: 850px;
    left: -5vw;
  }

  .octopus1 {
    top: 25vh;
    right: 5vw;
  }
}

@media (min-width: 1600px) {
  .octopus3 {
    width: 1100px;
    background-size: 1000px;
  }

  .octopus1 {
    width: 590px;
    height: 560px;
    background-size: 550px;
    top: 25vh;
    right: 10vw;
  }
}
